# **Pandas Tutorial**

This notebook will guide you through basic to advanced functionalities of **pandas**, one of the most popular data analysis libraries in Python.

---

## **1. Installation and Import**

> If you havenâ€™t installed `pandas` yet, uncomment the cell below and run it.

In [1]:
# !pip install pandas
# !pip install numpy  # Numpy is also typically used alongside pandas

Now, import the necessary libraries:

In [2]:
import pandas as pd
import numpy as np

# Setting some display options (optional but can be helpful)
pd.set_option('display.max_rows', 10)
pd.set_option('display.max_columns', 10)

---
## **2. Data Structures in Pandas**

Pandas offers two key data structures:
1. **Series**: A one-dimensional labeled array
2. **DataFrame**: A two-dimensional labeled data structure

### 2.1 Series

In [3]:
# Creating a Series from a Python list
my_list = [10, 20, 30, 40]
my_series = pd.Series(my_list)
print("Series from a list:\n", my_series)

# Creating a Series from a NumPy array
my_array = np.array([1, 2, 3, 4, 5])
my_series_2 = pd.Series(my_array)
print("\nSeries from a NumPy array:\n", my_series_2)

# Creating a Series with custom indices
my_series_custom = pd.Series([100, 200, 300], index=['a', 'b', 'c'])
print("\nSeries with custom index:\n", my_series_custom)

Series from a list:
 0    10
1    20
2    30
3    40
dtype: int64

Series from a NumPy array:
 0    1
1    2
2    3
3    4
4    5
dtype: int32

Series with custom index:
 a    100
b    200
c    300
dtype: int64

### 2.2 DataFrame

In [4]:
# Creating a DataFrame from a Python dictionary
data_dict = {
    'Name': ['Alice', 'Bob', 'Charlie', 'Diana'],
    'Age': [25, 30, 35, 40],
    'City': ['New York', 'Paris', 'London', 'Tokyo']
}
df_dict = pd.DataFrame(data_dict)
print("DataFrame from dictionary:\n", df_dict)

# Creating a DataFrame from a list of lists
data_list = [
    ['Eve', 22, 'Berlin'],
    ['Frank', 28, 'Rome'],
    ['Grace', 33, 'Madrid']
]
df_list = pd.DataFrame(data_list, columns=['Name', 'Age', 'City'])
print("\nDataFrame from list of lists:\n", df_list)

DataFrame from dictionary:
       Name  Age      City
0    Alice   25  New York
1      Bob   30     Paris
2  Charlie   35    London
3    Diana   40     Tokyo

DataFrame from list of lists:
     Name  Age    City
0    Eve   22  Berlin
1  Frank   28    Rome
2  Grace   33  Madrid

---
## **3. Reading and Writing Data**

### 3.1 Reading Data from CSV

In [7]:
# For demonstration, let's create a sample CSV in the notebook
sample_data = {
    'ID': [1, 2, 3, 4, 5],
    'Score': [80, 93, 78, 90, 88],
    'Passed': [True, True, False, True, True]
}
df_sample = pd.DataFrame(sample_data)

# Saving the CSV file
df_sample.to_csv('sample_data.csv', index=False)

# Reading the CSV file
df_csv = pd.read_csv('sample_data.csv')
print("DataFrame loaded from CSV:\n", df_csv)

DataFrame loaded from CSV:
    ID  Score  Passed
0   1     80    True
1   2     93    True
2   3     78   False
3   4     90    True
4   5     88    True

### 3.2 Writing Data to CSV

In [6]:
# Write the DataFrame to a new CSV file
df_csv.to_csv('output_data.csv', index=False)
print("Data saved to output_data.csv")

# (You can also use functions like pd.read_excel(), df.to_excel(), pd.read_json(), etc. for different file formats.)

Data saved to output_data.csv

---
## **4. Basic Data Exploration**

In [8]:
# Using an existing DataFrame for exploration
df = pd.DataFrame({
    'A': np.random.randn(5),
    'B': np.random.randn(5),
    'C': np.random.randn(5),
    'D': np.random.randint(0, 100, 5)
})

print("DataFrame:\n", df)

# .head(), .tail(), .shape, and .info()
print("\nFirst few rows:\n", df.head())
print("\nLast few rows:\n", df.tail())
print("\nShape of DataFrame:", df.shape)
print("\nInformation about DataFrame:\n")
df.info()

# .describe() to show summary statistics for numeric columns
print("\nStatistical summary:\n", df.describe())

# Checking for missing values
print("\nChecking for missing values:\n", df.isnull().sum())

DataFrame:
           A         B         C   D
0 -0.186023 -0.543052  1.358459  32
1 -0.314759 -0.992037  0.840638  58
2  0.431491  1.216621  1.076123  98
3 -1.796028 -0.405079  0.162023  34
4  0.787011 -1.902512 -0.757125   6

First few rows:
           A         B         C   D
0 -0.186023 -0.543052  1.358459  32
1 -0.314759 -0.992037  0.840638  58
2  0.431491  1.216621  1.076123  98
3 -1.796028 -0.405079  0.162023  34
4  0.787011 -1.902512 -0.757125   6

Last few rows:
           A         B         C   D
0 -0.186023 -0.543052  1.358459  32
1 -0.314759 -0.992037  0.840638  58
2  0.431491  1.216621  1.076123  98
3 -1.796028 -0.405079  0.162023  34
4  0.787011 -1.902512 -0.757125   6

Shape of DataFrame: (5, 4)

Information about DataFrame:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       5 non-null      float64
 1   B       5 non-null      float64
 2   C       5 non-null      float64
 3   D       5 non-null      int32
dtypes: float64(3), int32(1)
memory usage: 268.0 bytes

Statistical summary:
               A         B         C          D
count  5.000000  5.000000  5.000000   5.000000
mean  -0.215662 -0.525212  0.536023  45.600000
std    0.991516  1.136179  0.847497  34.594797
min   -1.796028 -1.902512 -0.757125   6.000000
25%   -0.314759 -0.992037  0.162023  32.000000
50%   -0.186023 -0.543052  0.840638  34.000000
75%    0.431491 -0.405079  1.076123  58.000000
max    0.787011  1.216621  1.358459  98.000000

Checking for missing values:
 A    0
B    0
C    0
D    0
dtype: int64

---
## **5. Data Selection and Indexing**

### 5.1 Selecting Columns

In [9]:
# Selecting a single column
col_a = df['A']
print("Column A:\n", col_a)

# Selecting multiple columns
subset = df[['A', 'C']]
print("\nColumns A and C:\n", subset)

Column A:
 0   -0.186023
1   -0.314759
2    0.431491
3   -1.796028
4    0.787011
Name: A, dtype: float64

Columns A and C:
           A         C
0 -0.186023  1.358459
1 -0.314759  0.840638
2  0.431491  1.076123
3 -1.796028  0.162023
4  0.787011 -0.757125

### 5.2 Selecting Rows

In [9]:
# Using .loc (label-based indexing)
first_row = df.loc[0]
print("First row using .loc:\n", first_row)

first_row = df.loc[df['A'] > 0.1]
print("filter .loc:\n", first_row)

# Using .iloc (integer-based indexing)
last_row = df.iloc[-1]
print("\nLast row using .iloc:\n", last_row)

# Selecting multiple rows
multiple_rows = df.iloc[1:4]
print("\nMultiple rows:\n", multiple_rows)

First row using .loc:
 A    -0.472568
B     1.920975
C    -1.235406
D    42.000000
Name: 0, dtype: float64
filter .loc:
           A         B         C   D
1  0.284416 -0.524111 -0.814190  55
3  1.721137 -0.709469  2.136802  85

Last row using .iloc:
 A    -0.875629
B     0.158712
C     0.873123
D    50.000000
Name: 4, dtype: float64

Multiple rows:
           A         B         C   D
1  0.284416 -0.524111 -0.814190  55
2 -2.229769  0.718247 -0.692493  67
3  1.721137 -0.709469  2.136802  85

### 5.3 Conditional Selection

In [10]:
# Select rows where column 'D' is greater than 50
filtered_df = df[df['D'] > 50]
print("Rows where D > 50:\n", filtered_df)

Rows where D > 50:
           A         B         C   D
1  0.284416 -0.524111 -0.814190  55
2 -2.229769  0.718247 -0.692493  67
3  1.721137 -0.709469  2.136802  85

### 5.4 Setting/Resetting Index

In [10]:
# Create a new DataFrame for demonstration
df_idx = df.copy()
df_idx['Names'] = ['Alpha', 'Bravo', 'Charlie', 'Delta', 'Echo']
df_idx.set_index('Names', inplace=True)
print("DataFrame with 'Names' set as index:\n", df_idx)

# Reset index
df_reset = df_idx.reset_index()
print("\nDataFrame after resetting index:\n", df_reset)

DataFrame with 'Names' set as index:
                 A         B         C   D
Names
Alpha   -0.186023 -0.543052  1.358459  32
Bravo   -0.314759 -0.992037  0.840638  58
Charlie  0.431491  1.216621  1.076123  98
Delta   -1.796028 -0.405079  0.162023  34
Echo     0.787011 -1.902512 -0.757125   6

DataFrame after resetting index:
      Names         A         B         C   D
0    Alpha -0.186023 -0.543052  1.358459  32
1    Bravo -0.314759 -0.992037  0.840638  58
2  Charlie  0.431491  1.216621  1.076123  98
3    Delta -1.796028 -0.405079  0.162023  34
4     Echo  0.787011 -1.902512 -0.757125   6

---
## **6. Data Cleaning & Manipulation**

### 6.1 Handling Missing Values

In [11]:
# Create a DataFrame with NaN values for demonstration
df_nan = pd.DataFrame({
    'X': [1, 2, np.nan, 4],
    'Y': [np.nan, 2, 3, 4],
    'Z': [10, 20, 30, 40]
})

print("Original DataFrame with NaNs:\n", df_nan)

Original DataFrame with NaNs:
      X    Y   Z
0  1.0  NaN  10
1  2.0  2.0  20
2  NaN  3.0  30
3  4.0  4.0  40

In [12]:
# Dropping rows with NaN values
df_dropna = df_nan.dropna()
print("\nDataFrame after dropping NaNs:\n", df_dropna)

DataFrame after dropping NaNs:
      X    Y   Z
1  2.0  2.0  20
3  4.0  4.0  40

In [13]:
# Filling NaN values with a specified value
df_fillna = df_nan.fillna(value=0)
print("\nDataFrame after filling NaNs with 0:\n", df_fillna)

DataFrame after filling NaNs with 0:
      X    Y   Z
0  1.0  0.0  10
1  2.0  2.0  20
2  0.0  3.0  30
3  4.0  4.0  40

In [14]:
# Forward fill example
df_ffill = df_nan.fillna(method='ffill')
print("\nDataFrame after forward fill:\n", df_ffill)

DataFrame after forward fill:
      X    Y   Z
0  1.0  NaN  10
1  2.0  2.0  20
2  2.0  3.0  30
3  4.0  4.0  40

### 6.2 Removing or Renaming Columns

In [15]:
# Dropping a column
df_dropped_col = df_nan.drop('Y', axis=1)
print("\nDataFrame after dropping column 'Y':\n", df_dropped_col)

DataFrame after dropping column 'Y':
      X   Z
0  1.0  10
1  2.0  20
2  NaN  30
3  4.0  40

In [16]:
# Renaming columns
df_renamed = df_nan.rename(columns={'X': 'X_new', 'Y': 'Y_new'})
print("\nDataFrame after renaming columns:\n", df_renamed)

DataFrame after renaming columns:
    X_new  Y_new   Z
0    1.0    NaN  10
1    2.0    2.0  20
2    NaN    3.0  30
3    4.0    4.0  40

### 6.3 Applying Functions

In [18]:
# Using apply() to apply a custom function
def custom_function(x):
    return x+2

df_nan['X_times_two'] = df_nan['X'].apply(custom_function)
print("\nApply custom function to 'X':\n", df_nan)

Apply custom function to 'X':
      X    Y   Z  X_times_two
0  1.0  NaN  10          3.0
1  2.0  2.0  20          4.0
2  NaN  3.0  30          NaN
3  4.0  4.0  40          6.0

---
## **7. Merging, Joining, and Concatenation**

### 7.1 Concatenation

In [21]:
# Create two DataFrames
df1 = pd.DataFrame({'col1': [1, 2], 'col2': [3, 4]})
df2 = pd.DataFrame({'col1': [5, 6], 'col2': [7, 8]})
print(df1)
df2

   col1  col2
0     1     3
1     2     4

   col1  col2
0     5     7
1     6     8

In [22]:
# Concatenate along rows
df_concat = pd.concat([df1, df2], axis=0)
print("Concatenate DataFrames along rows:\n", df_concat)

Concatenate DataFrames along rows:
    col1  col2
0     1     3
1     2     4
0     5     7
1     6     8

In [23]:
# Concatenate along columns
df_concat_col = pd.concat([df1, df2], axis=1)
print("\nConcatenate DataFrames along columns:\n", df_concat_col)

Concatenate DataFrames along columns:
    col1  col2  col1  col2
0     1     3     5     7
1     2     4     6     8

### 7.2 Merge (like SQL Join)

In [25]:
# Create sample DataFrames for merge
left_df = pd.DataFrame({
    'key': ['K0', 'K1', 'K2'],
    'A': ['A0', 'A1', 'A2'],
    'B': ['B0', 'B1', 'B2']
})

right_df = pd.DataFrame({
    'key': ['K0', 'K1', 'K3'],
    'C': ['C0', 'C1', 'C3'],
    'D': ['D0', 'D1', 'D3']
})
print(left_df)
right_df

  key   A   B
0  K0  A0  B0
1  K1  A1  B1
2  K2  A2  B2

  key   C   D
0  K0  C0  D0
1  K1  C1  D1
2  K3  C3  D3

In [26]:
# Merge on key (default is inner join)
df_merge_inner = pd.merge(left_df, right_df, on='key', how='inner')
print("Inner Merge:\n", df_merge_inner)

Inner Merge:
   key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K1  A1  B1  C1  D1

In [27]:
# Left join
df_merge_left = pd.merge(left_df, right_df, on='key', how='left')
print("\nLeft Merge:\n", df_merge_left)

Left Merge:
   key   A   B    C    D
0  K0  A0  B0   C0   D0
1  K1  A1  B1   C1   D1
2  K2  A2  B2  NaN  NaN

In [28]:
# Right join
df_merge_right = pd.merge(left_df, right_df, on='key', how='right')
print("\nRight Merge:\n", df_merge_right)

Right Merge:
   key    A    B   C   D
0  K0   A0   B0  C0  D0
1  K1   A1   B1  C1  D1
2  K3  NaN  NaN  C3  D3

In [29]:
# Outer join
df_merge_outer = pd.merge(left_df, right_df, on='key', how='outer')
print("\nOuter Merge:\n", df_merge_outer)

Outer Merge:
   key    A    B    C    D
0  K0   A0   B0   C0   D0
1  K1   A1   B1   C1   D1
2  K2   A2   B2  NaN  NaN
3  K3  NaN  NaN   C3   D3

---
## **8. Grouping and Aggregation**

In [30]:
# Create a DataFrame for grouping/aggregation
df_group = pd.DataFrame({
    'Category': ['Fruit', 'Fruit', 'Vegetable', 'Vegetable', 'Fruit'],
    'Name': ['Apple', 'Banana', 'Carrot', 'Tomato', 'Banana'],
    'Price': [100, 40, 50, 70, 30],
    'Quantity': [1, 2, 5, 3, 10]
})

print("Original DataFrame:\n", df_group)

Original DataFrame:
     Category    Name  Price  Quantity
0      Fruit   Apple    100         1
1      Fruit  Banana     40         2
2  Vegetable  Carrot     50         5
3  Vegetable  Tomato     70         3
4      Fruit  Banana     30        10

In [31]:
# Group by single column and compute aggregate
grouped = df_group.groupby('Category')
sum_price = grouped['Price'].sum()
print("\nSum of prices by Category:\n", sum_price)

Sum of prices by Category:
 Category
Fruit        170
Vegetable    120
Name: Price, dtype: int64

In [33]:
# Group by multiple columns
grouped_multiple = df_group.groupby(['Category', 'Name']).agg({'Price': 'mean', 'Quantity': 'sum'})
print("\nAggregate by Category and Name:\n", grouped_multiple)

Aggregate by Category and Name:
                   Price  Quantity
Category  Name
Fruit     Apple   100.0         1
          Banana   35.0        12
Vegetable Carrot   50.0         5
          Tomato   70.0         3

In [34]:
# Another way of grouping and getting summary
grouped_custom = df_group.groupby('Category').agg({
    'Price': ['mean', 'sum'],
    'Quantity': 'sum'
})
print("\nCustom aggregation by Category:\n", grouped_custom)

Custom aggregation by Category:
                Price      Quantity
                mean  sum      sum
Category
Fruit      56.666667  170       13
Vegetable  60.000000  120        8

---
## **9. Pivot Tables**

In [35]:
# Using the same df_group to demonstrate pivot tables
pivot_table_example = df_group.pivot_table(
    values='Price',
    index='Category',
    columns='Name',
    aggfunc='mean',
    fill_value=0
)
print("Pivot Table example:\n", pivot_table_example)

Pivot Table example:
 Name       Apple  Banana  Carrot  Tomato
Category
Fruit        100      35       0       0
Vegetable      0       0      50      70

---
## **10. Working with Dates and Times**

In [38]:
# Creating a DataFrame with a datetime range
date_range = pd.date_range('2025-01-01', periods=5, freq='D')
df_dates = pd.DataFrame({
    'Date': date_range,
    'Value': np.random.randint(10, 100, 5)
})
print("DataFrame with Date column:\n", df_dates)

DataFrame with Date column:
         Date  Value
0 2025-01-01     50
1 2025-01-02     13
2 2025-01-03     35
3 2025-01-04     78
4 2025-01-05     52

In [39]:

# Setting 'Date' as index
df_dates.set_index('Date', inplace=True)
print("\nDataFrame with Date as index:\n", df_dates)

DataFrame with Date as index:
             Value
Date
2025-01-01     50
2025-01-02     13
2025-01-03     35
2025-01-04     78
2025-01-05     52

In [40]:
# Selecting data by date range
print("\nSelect rows in a specific date range:\n", df_dates['2025-01-02':'2025-01-04'])

Select rows in a specific date range:
             Value
Date
2025-01-02     13
2025-01-03     35
2025-01-04     78

---
## **11. Advanced Indexing (MultiIndex)**

In [46]:
# Create a MultiIndex
arrays = [
    ['bar', 'bar', 'baz', 'baz', 'foo', 'foo', 'qux', 'qux'],
    ['one', 'two', 'one', 'two', 'one', 'two', 'one', 'two']
]
tuples = list(zip(*arrays))
tuples

[('bar', 'one'),
 ('bar', 'two'),
 ('baz', 'one'),
 ('baz', 'two'),
 ('foo', 'one'),
 ('foo', 'two'),
 ('qux', 'one'),
 ('qux', 'two')]

In [48]:
index = pd.MultiIndex.from_tuples(tuples, names=['first', 'second'])
index

MultiIndex([('bar', 'one'),
            ('bar', 'two'),
            ('baz', 'one'),
            ('baz', 'two'),
            ('foo', 'one'),
            ('foo', 'two'),
            ('qux', 'one'),
            ('qux', 'two')],
           names=['first', 'second'])

In [49]:
df_multi = pd.DataFrame(np.random.randn(8, 2), index=index, columns=['A', 'B'])
print("MultiIndex DataFrame:\n", df_multi)

MultiIndex DataFrame:
                      A         B
first second
bar   one     0.793476 -0.467113
      two    -0.271317 -0.583794
baz   one     0.350841  2.534090
      two    -0.511781 -0.913947
foo   one    -0.662491 -0.652401
      two     0.342900 -0.269645
qux   one     0.016229  0.598032
      two     0.625988 -2.281755

In [52]:
# Selecting data in a MultiIndex
print("\nSelecting 'bar' rows:\n", df_multi.loc['bar'])

Selecting 'bar' rows:
                A         B
second
one     0.793476 -0.467113
two    -0.271317 -0.583794

# **Pandas Data Type Conversion Examples**

Below are some common ways to convert data types (**dtype**) in pandas. Each example demonstrates a specific approach to changing the dtype of a column.

In [65]:
## 1. Convert to Integer
import pandas as pd

df = pd.DataFrame({
    'numbers': ['1', '2', '3', '4']
})
print("Original dtypes:")
print(df.dtypes)
df

Original dtypes:
numbers    object
dtype: object

  numbers
0       1
1       2
2       3
3       4

In [57]:

df['numbers'] = df['numbers'].astype(int)
print("\nAfter converting to integer:")
print(df.dtypes)
print(df)

After converting to integer:
numbers    int32
dtype: object
   numbers
0        1
1        2
2        3
3        4

In [58]:
## 2. Convert to Float

df_float = pd.DataFrame({
    'numbers': ['1.5', '2.0', '3.3', '4.1']
})
print("Original dtypes:")
print(df_float.dtypes)

df_float['numbers'] = df_float['numbers'].astype(float)
print("\nAfter converting to float:")
print(df_float.dtypes)
print(df_float)

Original dtypes:
numbers    object
dtype: object

After converting to float:
numbers    float64
dtype: object
   numbers
0      1.5
1      2.0
2      3.3
3      4.1

In [59]:
## 3. Convert to String
df_str = pd.DataFrame({
    'mixed': [1, 2, 3, 4]
})
print("Original dtypes:")
print(df_str.dtypes)

df_str['mixed'] = df_str['mixed'].astype(str)
print("\nAfter converting to string:")
print(df_str.dtypes)
print(df_str)

Original dtypes:
mixed    int64
dtype: object

After converting to string:
mixed    object
dtype: object
  mixed
0     1
1     2
2     3
3     4

In [61]:
## 4. Convert to Categorical

df_cat = pd.DataFrame({
    'colors': ['red', 'blue', 'blue', 'red', 'green']
})
print(df_cat)
print("Original dtypes:")
print(df_cat.dtypes)

df_cat['colors'] = df_cat['colors'].astype('category')
print("\nAfter converting to category:")
print(df_cat.dtypes)
print(df_cat)

  colors
0    red
1   blue
2   blue
3    red
4  green
Original dtypes:
colors    object
dtype: object

After converting to category:
colors    category
dtype: object
  colors
0    red
1   blue
2   blue
3    red
4  green

In [70]:
## 5. Convert to DateTime

df_date = pd.DataFrame({
    'dates': ['2023-01-01', '2023-02-15', '2023-03-10']
})
print("Original dtypes:")
print(df_date.dtypes)

df_date['dates'] = pd.to_datetime(df_date['dates'])
print("\nAfter converting to datetime:")
print(df_date.dtypes)
print(df_date)

Original dtypes:
dates    object
dtype: object

After converting to datetime:
dates    datetime64[ns]
dtype: object
       dates
0 2023-01-01
1 2023-02-15
2 2023-03-10

In [71]:
## 6. Convert to Numeric (with Error Handling)

df_num = pd.DataFrame({
    'possibly_numeric': ['123', 'abc', '456', 'xyz']
})
print("Original dtypes:")
print(df_num.dtypes)

df_num['possibly_numeric'] = pd.to_numeric(df_num['possibly_numeric'], errors='coerce')
print("\nAfter converting to numeric with errors='coerce':")
print(df_num.dtypes)
print(df_num)

Original dtypes:
possibly_numeric    object
dtype: object

After converting to numeric with errors='coerce':
possibly_numeric    float64
dtype: object
   possibly_numeric
0             123.0
1               NaN
2             456.0
3               NaN

In [73]:
## 7. General Method: `convert_dtypes()`

df_general = pd.DataFrame({
    'A': [1, 2, None],
    'B': [True, False, True],
    'C': ['foo', 'bar', 'baz']
})
print("Original dtypes:")
print(df_general.dtypes)
df_general

Original dtypes:
A    float64
B       bool
C     object
dtype: object

     A      B    C
0  1.0   True  foo
1  2.0  False  bar
2  NaN   True  baz

In [74]:

df_general = df_general.convert_dtypes()
print("\nAfter convert_dtypes():")
print(df_general.dtypes)
print(df_general)

After convert_dtypes():
A      Int64
B    boolean
C     string
dtype: object
      A      B    C
0     1   True  foo
1     2  False  bar
2  <NA>   True  baz

## Summary
- **`astype()`** is a straightforward method when you know the target dtype (`int`, `float`, `str`, `category`, etc.).  
- **`pd.to_numeric()`** and **`pd.to_datetime()`** are specialized functions for parsing numeric and date/time data, respectively.  
- **`convert_dtypes()`** can help automatically refine dtypes across all columns without manually specifying each conversion.

Use the approach that best fits your data cleaning and conversion needs!

---
## **13. Conclusion**

In this notebook, we covered:
1. Basic pandas data structures (Series and DataFrame)
2. Creating, reading, and writing data
3. Data exploration and cleaning
4. Data selection and indexing techniques
5. Merging, joining, concatenation
6. Grouping, aggregation, and pivot tables
7. Working with dates/times
8. Advanced indexing (MultiIndex)


**Happy Data Analysis!**